<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:dt="http://github.com/dandelion/datatables"
    xmlns:ddl="http://www.thymeleaf.org/dandelion"
    layout:decorator="fragments/layout">
    <head th:include="common/head::head" />
    <body>
        <div th:include="fragments/header::header"></div>
        <div class="container">
            <h2>Welcome!</h2>
        </div>
    </body>
</html>