<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:dt="http://github.com/dandelion/datatables"
    xmlns:ddl="http://www.thymeleaf.org/dandelion"
    layout:decorator="fragments/layout">
    <head th:include="common/head::head" />
    <body>
        <div layout:fragment="page-title">
            <h3 class="page-header">
                <span th:text="#{time.titulo}"></span>
            </h3>
        </div>
        <div layout:fragment="main-content">
            <div class="panel">
                <a th:href="@{/team/add}" class="btn btn-primary navbar-btn"><span
                    class="glyphicon glyphicon-file"></span><span th:text="#{botao.novo}"></span></a>
            </div>
            <div >
                <table id="team" dt:table="true" dt:url="@{/ajax/teams/}"
                    dt:serverside="true" dt:processing="true">
                    <thead>
                        <tr>
                            <th dt:property="name"><span th:text="#{time.nome}"></span></th>
                            <th dt:property="id" 
                                dt:searchable="false" 
                                dt:sortable="false"
                                dt:renderFunction="renderActions"><span
                                th:text="#{acoes.de.botao}"></span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <script type="text/javascript" layout:fragment="scripts" th:inline="javascript">
            function renderActions(data, type, full) {
            	return '<span class="actions"><a class="btn btn-default btn-xs" href="detail/' + full.id + '"><span class="glyphicon glyphicon-eye-open"></span></a>'
            			+ '<a class="btn btn-default btn-xs" href="' + full.id + '/edit"><span class="glyphicon glyphicon-edit"></span></a>'
            			+ '<a class="btn btn-default btn-xs" href="#" title="Löschen" data-toggle="modal" data-target="#confirmDialog" data-title="Warnung" data-message="Sind Sie sicher" data-href="delete/' + full.id + '">'
            			+ '<span class="glyphicon glyphicon-trash"></span></a></span>';
            }
        </script>
    </body>
</html>